* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Unbounded', sans-serif;
}

body {
    overflow-x: hidden;
}

.black {
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.47);
}


.header {
    height: 100vh;
    background: url(./../img/businessman-sitting-by-table-cafe.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

img {
    max-width: 100%;
    object-fit: cover;
}

a {
    display: inline-block;
    text-decoration: none;
}

ul {
    list-style: none;
}

.row {
    display: flex;
}

.container {
    max-width: 90%;
    margin: 0 auto;
}

.container1 {
    max-width: 100%;
    margin: 0 auto;
}

/* navigation*/
header {
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    padding: 1.5rem 0;
    width: 100%;
}

.logo {
    align-items: center;
    color: white;
}

.logo img {
    max-width: 35px;
}

.logo h1 {
    font-weight: 700;
    font-size: 35px;
}

.nave {
    position: fixed;
    width: 100%;
    left: 0px;
    top: 0px;
    padding-left: 70px;
    z-index: 2000;
}

.nave.scrolled {
    background-color: black;
}

nav ul {
    gap: 2rem;
    align-items: center;
}

nav a {
    font-weight: 500;
    font-size: 13px;
    color: white;
    transition: 0.3s ease-in-out;
}

nav a:hover {
    color: rgb(210, 179, 114);
}

nav .btn {
    padding: 0.5em 1.2em;
    border: 2px solid rgb(210, 179, 114);
    border-radius: 25px;
    margin-right: 50px;
}

nav .btn a {
    color: rgb(210, 179, 114);
    font-weight: 500;
    font-size: 14px;

}

/* end navigation */
/* start hero */
.hero {
    gap: 2em;
    flex-wrap: wrap;
    min-height: calc(100vh- 93.6px);
}

.hero>* {
    flex: 1 1 25em;
}

.hero h1 {
    font-weight: 700;
    font-size: calmp(40px, 5vw, 70px);
    line-height: 1;
    color: white;

}

.hero p {
    font-weight: 500;
    font-size: 20px;
    padding: 1em 0;
    color: rgb(210, 179, 114);
    margin-top: 100px;
}

.hero-btn {
    font-weight: 700;
    font-size: 20px;
    padding: 0.5em 1em;
    background-color: rgb(210, 179, 114);
    color: white;
    margin-top: 20px;
    border-radius: 25px;
    /* transition: 0.3s ease-in-out; */
}

.meet {
    font-size: 20px;
    color: white;
}

.online {
    z-index: 1000;
    margin-top: 30px;
}

.people {
    width: 63.5%;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(242, 193, 103);
    position: absolute;
    flex-wrap: wrap;
    bottom: 0px;
}

.people .woman, .people .male, .people .woman-img, .people .happy {
    width: 65px;
    height: 65px;
    padding: 4px;
    border-radius: 50%;
    background-color: white;
    position: relative;
}

.people .male {
    left: 15px;
}

.people .woman {
    left: 30px;
}

.people .happy {
    right: 20px;
}

.people h1 {
    padding-left: 20px;
}

.people p {
    padding-top: 7px;
    padding-left: 30px;
}

.peopleHome {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
}

/* end hero */

/* start main */
#theBook {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 70px;
}

.screen {
    width: 650px;
    margin-top: 15%;
}

.par {
    width: 35%;
    margin-top: 8%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.par h1 {
    font-size: 35px;
}

.par h1, .intr .sp {
    margin-bottom: 40px;

}

.par .sp {
    margin-top: 20px;
}

#theBook .par h2 {
    color: rgb(242, 193, 103);
    font-size: 21px;
}

#theBook .par p {
    color: grey;
}

#theBook .par a, #work a {
    color: rgb(255, 78, 2);
    text-decoration: none;
}

.glance {

    text-align: center;
    margin-top: 10%;
}

.Preview h2 {
    font-weight: bold;
    color: rgb(242, 193, 103);
}

.Preview h1 {
    margin-bottom: 40px;
    font-size: 35px;
}

.Chapters {
    display: flex;
    flex-direction: row;
    gap: 50px;
    flex-wrap: wrap;
}

.form {
    position: sticky;
    display: block;
    border-radius: 20px;
    border-color: orange;
    height: 100%;
    top: 100px;
}

.form ul li {
    list-style-type: none;
    margin: 10px 10px;
    border-radius: 50px;
    background-color: #f0f8ff;
}

.form ul li a {
    text-decoration: none;
    color: grey;
    white-space: nowrap;
    font-size: 15px;
    padding: 10px;
}

.form ul li:hover {
    color: white;
    background-color: coral;
}

.form ul li a:hover {
    color: white;
}

#Introducing {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 800px;

}

.intr {
    width: 800px;
    margin-top: 40px;

}


.intr p, .Win p {
    color: grey;
    margin-top: 20px;
}


.lor, .img-quo {
    height: 150px;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 30px;
    border-radius: 10px;
    flex-wrap: wrap;

}

.lor h2, .lor-2 p {
    width: 800px;
}

.lor p, .img-quo p {
    width: 800px;
    font-size: 20px;
    font-weight: 500;
}

.lor-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    color: grey;
    text-align: center;
    flex-wrap: wrap;
}

hr {
    border: none;
    border-bottom: 5px dotted gray;
    margin-top: 20px;
}

#Win, #work {
    width: 800px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 380px;
}

#Win h2, #work h2 {
    margin-bottom: 20px;
}

#Win p, #work p, #Delegate p, #Habits p {
    margin-bottom: 10px;
    color: gray;
    margin-top: 10px;
}


#Win img {
    width: 350px;
    margin: 10px 10px;
    border-radius: 15px;
}

#work img {
    width: 400px;
}

.oo {
    display: flex;
    flex-wrap: wrap;
}

.lo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#Delegate, #Habits {
    display: flex;
    flex-direction: column;
    margin-left: 380px;
    flex-wrap: wrap;
}

#Delegate img {
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 15px;
    width: 750px;
}

#Habits p {
    margin-top: 20px;
}

#Habits .Lorem {
    color: black;
}

.cc {
    width: 800px;
}

#author {
    display: flex;
    flex-wrap: wrap;
}

.row {
    flex-wrap: wrap;
}

.last {
    display: flex;
}

.circle {
    width: 300px;
}

.portrait {
    width: 350px;
    height: 350px;
    display: flex;
    border-radius: 50%;
    border: 10px solid rgb(243, 186, 81);
    position: absolute;
    margin-left: 200px;
    margin-top: 100px;
}

.last-p {
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 380px;
}

.last-p .or {
    color: rgb(243, 186, 81);
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}

.last-p h1 {
    margin-bottom: 10px;
}

.last-p p {
    color: gray;
}

#Reviews {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

#Reviews .alt {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

}

#Reviews .alt p {
    color: rgb(235, 190, 107);
    margin-top: 50px;
    font-size: 20px;
    font-weight: 600;
}

.card {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

}

.card1 {
    background-size: contain;
    background-image: url('/assets/img/businessman-sitting-by-table-cafe.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 20px;

}


.black1 {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.361);
    border-radius: 20px;
}

.card1 h3 {
    padding-top: 150px;
    margin-left: 30px;
    color: white;
    line-height: 30px;

}

.card1 p {
    width: 350px;
    margin-left: 30px;
    color: white;
    line-height: 30px;
}


.box, .box1 {
    background-color: rgba(255, 127, 80, 0.774);
    width: 170px;
    border-radius: 15px;
    margin-left: 100px;
    position: absolute;
}


.box img, .box1 img {
    height: 50px;
    margin-left: 60px;
    margin-top: 10px;
    border-radius: 50%;
    border: 2px solid white;

}


.box p, .box1 p {
    margin-left: 60px;
}


.box h5 {
    padding-left: 60px;
    color: white;
}

.box1 h5 {
    padding-left: 50px;
    color: white;
}

/* end main */
/* start footer */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    background-color: rgb(220, 130, 97);
    clip-path: polygon(30% 0%, 100% 0%, 100% 0%, 100% 100%, 0% 100%, 0% 50%);
    margin-top: 100px;
}

#footer {
    display: flex;
    flex-wrap: wrap;
}

.footer-card {
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 20px 2px rgb(200, 200, 200);
}

.footer-card h1 {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 70%;
    text-align: center;
}

.footer-card input {
    width: 80%;
    height: 35px;
    border-radius: 30px;
    margin-bottom: 30px;
    padding: 25px;
    font-weight: 500;
    border: 1px solid rgba(165, 165, 193, 0.717);
}


.footer-card button {
    border-radius: 20px;
    border: none;
    background-color: rgb(245, 147, 112);
    color: whitesmoke;
    padding: 10px;
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 30px;

}


.decrip .title-fq {
    margin-left: 30px;
    font-size: 20px;
    color: rgb(209, 163, 77);
    font-weight: bold;
}

.decrip h1 {
    margin-left: 30px;
    margin-top: 10px;
}


.decrip .loc, .decrip .num, .decrip .em, .sm-p, .sm-span {
    margin-left: 30px;
    margin-top: 15px;
    color: white;
    font-size: 20px;
}

.decrip2 {
    display: flex;
    flex-direction: column;
}

.decrip2 .title-fq {
    margin-left: 30px;
    margin-top: 15px;
    font-size: 20px;
    font-weight: bold;
    color: rgb(209, 163, 77);
}

/* .why {
    display: flex;
    flex-direction: column;
} */

.decrip2 img {
    margin-left: 30px;
    margin-top: 15px;
}

.sm-p {
    font-size: 15px;
    margin-bottom: 20px;
}

.sm-span {
    font-size: 12px;
    color: rgb(238, 190, 88);
}

/* end footer */


/* start media */
@media screen and (max-width:990px) {
    .header, .black {
        height: 110vh;
    }

    .container1 {
        max-width: 100%;
    }

    .toggleMenu {
        position: absolute;
        right: 5%;
        background-image: url(./../img/open.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 30px;
        width: 30px;
        height: 30px;
        padding: 2em;
        z-index: 2000;
        transition: background-size 0.3s ease-in-out;
    }

    .toggleMenu.active {
        position: fixed;
        background-image: url(./../img/close.png);
        background-size: 25px;
    }

    .navigation {
        justify-content: center;
        align-items: center;
        flex-direction: column;
        max-height: 0;
        opacity: 0;
        transform-origin: top;
        transform: scale(1, 0);
    }

    .navigation.active {
        position: fixed;
        inset: 0;
        margin: auto;
        max-height: 100%;
        opacity: 1;
        background-color: rgba(0, 0, 0, 0.954);
        transform: scale(1, 1);
        z-index: 1001;
    }

    nav ul {
        flex-direction: column;
    }

    .online {
        width: 400px;
        margin: auto;
        margin-top: 0px;
    }

    .people {
        position: relative;
        width: 100%;
        height: 100px;
        align-items: center;

    }

    .people h1 {
        font-size: 13px;

    }

    .people p {
        font-size: 10px;
        margin-right: 20px;
    }

    #theBook {
        gap: 8px;
    }

    .par {
        width: 80%;
        margin: auto 10px;
    }

    #theBook .par h2 {
        font-size: 18px;
    }

    #theBook .par h1 {
        font-size: 28px;
        margin-bottom: 20px;
    }

    .form {
        margin: auto;
        position: relative;
        top: 10px;
    }

    #Win img, #Delegate img {
        width: 300px;
        margin: auto;
    }

    .intr, .lor p, .img-quo p p, .lor-2 p, .cc, .img-quo, #Habits p, .last-p, .card1 p, .footer-card {
        width: auto;
    }

    #Introducing, #Win, #work, #Delegate, #Habits, .last-p, .portrait {
        margin-left: 0;
    }

    .last, .footer-card, .colo, #Win img {
        margin: auto;
    }

    .last .portrait {
        width: 300px;
        height: 300px;
    }

    .last-p {
        margin: 40px 20px;
    }

    .card1 {
        margin: 10px;
        margin: auto;
        width: 350px;
    }

    footer {
        height: 900px;
        clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 100% 100%, 0% 100%, 0% 50%);
        margin: auto;
        margin-top: 30px;
    }

    .footer-card {
        margin-bottom: 30px;
    }
}

/* end media */